@import "../colors";
@import "../general";

.about-page {
    background: $bg-primary;
    color: $color-primary;

    .content {
        padding-bottom: 2rem;
        padding-top: 1.5rem;

        .title {
            font-size: 1.5rem;
            text-align: center;
            text-transform: uppercase;
        }

        .history {
            padding: .5rem 0;
            text-align: justify;

            .heading {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: .5rem;
                text-align: justify;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 1rem;
                margin-top: 0;
            }
        }
    }
}