@import "../colors";
@import "../variables";

.button {
  display: inline-block;
  background: $bg-secondary;
  border-radius: 0;
  transition: all $delay-primary linear;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  color: $color-secondary;
}

.button:visited {
  text-decoration: none;
  color: $color-secondary;
}

.button:hover {
  text-decoration: none;
  background: $bg-focused;
}